<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>资讯</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script src="../lib/init/loadFiles.js"></script>
</head>
<style>
.mui-popover{width: 150px; height:140px;}

</style>
</head>

<body>

<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <a id="menu" class="mui-icon mui-icon-more mui-pull-right" href="#topPopover"></a>
</header>
<div class="mui-content article-wrap mui-scroll-wrapper main-scroll">
    <div class="mui-scroll">
    <div class="article">
        <img src="../lib/style/images/banner/banner2.jpg" alt="" />
        <h4>《行尸走肉》第8季加入多位常规角色</h4>
        <h5>2017-04-18 浏览次数 19231</h5>
        <h5>by <a href="#">Gallagher驾到</a></h5>
        <div class="info">距离《行尸走肉》（The Walking Dead）第8季回归还有6个月左右，多位角色已被晋升为新一季的常规角色。他们分别是尼根（Negan）的得力助手西蒙（Simon），卡尔（Carl）的心仪对象伊妮德（Enid）和“清道夫”领头杰德丝（Jadis）（暂译名）。</div>
        <p>末世来临时，你愿意和谁生活在一起？是灌下迷魂汤让你不知世间如何的幻想家，还是掌控一切肆意驱使他人的独裁者，亦或是非生即死只剩茹毛饮血的野蛮人？本集行尸告诉了观众他们的选择，早已知晓却永不过时的答案：能够相濡以沫，彼此扶持，各自为了对方奋战不息的家人。</p>
        <p>想要高潮酣畅淋漓，充分的铺垫和前戏必不可少，实际上本季大多数时候都在挖坑埋伏笔，而最终集的一小时时间里，也有半小时都花在了大战前的准备上，这十分必要，不光是营造了山雨欲来风满楼的气氛，而且对于本集的主题同样有了高度的展现。</p>
        <p>“如果今天有人会死，都是死在自己的选择上。”尤金意有所指的话语，成为了本集萨沙最大的关键词：选择。</p>
        <p>躺在棺材里一路向着亚历山大社区进发，萨沙进入了一段独有的回忆（冥想），那是在护送玛姬去救治、碰上尼根前，她与亚伯拉罕的一个小插曲，那时他们俩刚刚开始。</p>
        <p>是人都会有私心。长久以来的奔波和失去，萨沙实在太累太累了，好不容易又出现了一个能产生感应的男人，如何不该珍惜？</p>
        <p>哪怕是一个可笑的噩梦，也足以成为懦弱和退缩的理由，何况此前他们已经付出无数次了，就这一次不站出来又有何妨呢。</p>
        <p>那一瞬间，萨沙是真的害怕再次失去爱人，从泰尔西，到鲍勃，不要再来一次……</p>
        <p>可也同样是这一瞬间，她再次决定挺身而出。坦荡的亚伯拉罕早已看穿了她：“接下来你要跟我说的是，你会去，这样我就可以留下，因为我知道，你自己也不想说出‘玛姬应该靠自己’这种话，我知道这句话会回荡在你脑中，很久很久，你会因为仅仅有这念头而做出补偿。”</p>
    </div>
    
    <div class="film-comment">
                        <div class="user-info">
                            <img src="../lib/style/images/head/hepburn.png" alt="" />
                            <div class="name">Audrey Hepburn<span class="title">高级会员</span></div>
                            <div class="time">刚刚</div>
                        </div>
                        <div class="comment">
                            <p>当年看行尸走肉第一季，被震惊到了，完全是神剧！看到现在，赶紧一起删了，像老太太裹脚布一样，又臭又长！美剧的运作模式，精品最终都会烂尾！</p>
                        </div>
                        <div class="film-icon">
                            <i class="fa fa fa-user-secret"></i>
                            <i class="fa fa fa-edit"></i>
                            <i class="fa fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="film-comment">
                        <div class="user-info">
                            <img src="../lib/style/images/head/obama.png" alt="" />
                            <div class="name">Obama<span class="title">至尊会员</span></div>
                            <div class="time">一小时前</div>
                        </div>
                        <div class="comment">
                            <p>摩根的事告送我们，哪有什么真正的平静，在这个不那么美好的世界里，做一个不好不坏的人就得了，人不犯我我不犯人，别整天把什么善良挂嘴边，没个球用！！！</p>
                        </div>
                        <div class="film-icon">
                            <i class="fa fa fa-user-secret"></i>
                            <i class="fa fa fa-edit"></i>
                            <i class="fa fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="film-comment">
                        <div class="user-info">
                            <img src="../lib/style/images/head/trump.png" alt="" />
                            <div class="name">Trump<span class="title">中级会员</span></div>
                            <div class="time">一天前</div>
                        </div>
                        <div class="comment">
                            <div class="comment-transmit">
                                <p class="name">@ Obama</p>
                                <p class="comment">摩根的事告送我们，哪有什么真正的平静，在这个不那么美好的世界里，做一个不好不坏的人就得了，人不犯我我不犯人，别整天把什么善良挂嘴边，没个球用！！！</p>
                            </div>
                            <p>I am Winner！</p>
                        </div>
                        <div class="film-icon">
                            <i class="fa fa fa-user-secret"></i>
                            <i class="fa fa fa-edit"></i>
                            <i class="fa fa fa-heart"></i>
                        </div>
                    </div>
                    <button class="load-more">加载更多内容</button>
    
    <div class="panel panel-white">
        <div class="panel-header"><span class="title">关联影片</span></div>
        <div class="panel-body">
            <ul class="pic-list pic-list-h">
                <li>
                    <img src="../lib/style/images/tvplay/tvplay4.jpg">
                    <div class="media-list-body">
                        <p class="title">全境通告</p>
                        <p class="title-en">A.P.B.</p>
                        <p class="grade">8.8 
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </p>
                    </div>
                </li>
                <li>
                    <img src="../lib/style/images/tvplay/tvplay6.jpg">
                    <div class="media-list-body">
                        <p class="title">衰姐们</p>
                        <p class="title-en">Girls</p>
                        <p class="grade">8.8 
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="panel panel-white">
        <div class="panel-header"><span class="title">相关影视</span></div>
        <div class="panel-body">
            <ul class="pic-list">
                <li>
                    <img src="../lib/style/images/banner/banner1.jpg">
                    <div class="media-list-body">
                        <p class="title">《超感猎杀》第二季海报及预告解析</p>
                        <p><span class="type-news">新闻</span>泽生 1月前</p>
                    </div>
                </li>
                <li>
                    <img src="../lib/style/images/banner/banner2.jpg">
                    <div class="media-list-body">
                        <p class="title">《四重奏》| 人与人的关系像是一道复杂的几何题</p>
                        <p><span class="type-tv">剧评</span>溺水的大象 1天前</p>
                    </div>
                </li>
                <li>
                    <img src="../lib/style/images/banner/banner3.jpg">
                    <div class="media-list-body">
                        <p class="title">《入场券》：假如给我三天光明，我会用来抛妻弃子，出</p>
                        <p><span class="type-mov">影评</span>泽生 1小时前</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>

<div id="topPopover" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <i class="fa fa-share-square-o"></i> 分享
                </li>
                <li class="mui-table-view-cell">
                    <i class="fa fa-star-o"></i> 收藏
                </li>
                <li class="mui-table-view-cell">
                    <i class="fa fa-comments-o"></i> 评论
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script>
mui('.main-scroll').scroll({
 scrollY: true, //是否竖向滚动
 scrollX: false, //是否横向滚动
 indicators: false, //是否显示滚动条
 deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
 bounce: true //是否启用回弹
});
</script>

