<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script src="../lib/init/loadFiles.js"></script>
</head>
<style>


</style>
</head>

<body>

<header id="header" class="mui-bar mui-bar-transparent" data-top='0' data-offset='50' data-duration='16' data-scrollby=".mui-scroll-wrapper">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">影视详情</h1>
    <a class=" mui-icon  mui-icon-upload mui-pull-right"></a>
</header>
<div class="mui-content mui-scroll-wrapper main-scroll">
    <div class="mui-scroll">
    <div class="header-img">
        <img src="../lib/style/images/banner/banner-blank.jpg"/>
        <ul class="film-info">
            <li>
                <p class="num">No.4</p>
                <p class="desc">本站排名</p>
            </li>
            <li>
                <p class="num">1623</p>
                <p class="desc">打分人次</p>
            </li>
            <li>
                <p class="num">572</p>
                <p class="desc">收藏次数</p>
            </li>
        </ul>
    </div>
    <div class="film-title">
        <img src="../lib/style/images/tvplay/tvplay1.jpg"/>
        <div class="film-detail">
            <p class="title">行尸走肉</p>
            <p class="title-en">The Walking Dead</p>
            <p class="label"><span class="mui-badge">美剧</span><span class="mui-badge">惊悚</span></p>
            <p class="desc">第10季 连载中哦那个</p>
            <p class="desc">人人字幕组</p>
        </div>
    </div>
    <div class="film-footer">
        <p class="grade">8.8 
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </p>
        <p class="desc">距离下集播出还有13天</p>
        <button class="mui-button"><i class="fa fa-star-o"></i> 我要收藏</button>
    </div>
    
    <div class="panel film-detail-card">
        <div class="panel-header">
            <div class="mui-segmented-control mui-segmented-control-inverted aui-tabs">
                <a class="mui-control-item mui-active" href="#item1mobile">剧集列表</a>
                <a class="mui-control-item" href="#item2mobile">剧情介绍</a>
                <a class="mui-control-item" href="#item3mobile">热门评论</a>
                <a class="mui-control-item" href="#item4mobile">相关求档</a>
            </div>
        </div>
        <div class="panel-body">
                <div id="item1mobile" class="mui-control-content mui-active"><!--剧集列表-->
                    <div class="panel panel-white">
                        <div class="panel-header"><span class="title">第十季</span></div>
                        <div class="panel-body">
                            <ul class="film-list">
                                <li><span class="mui-badge">1</span></li>
                                <li><span class="mui-badge">2</span></li>
                                <li><span class="mui-badge">3</span></li>
                                <li><span class="mui-badge">4</span></li>
                                <li><span class="mui-badge">5</span></li>
                                <li><span class="mui-badge">6</span></li>
                                <li><span class="mui-badge">7</span></li>
                                <li><span class="mui-badge">8</span></li>
                                <li><span class="mui-badge">9</span></li>
                                <li><span class="mui-badge">10</span></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="panel panel-white">
                        <div class="panel-header"><span class="title">第九季</span></div>
                        <div class="panel-body">
                            <ul class="film-list">
                                <li><span class="mui-badge">1</span></li>
                                <li><span class="mui-badge">2</span></li>
                                <li><span class="mui-badge">3</span></li>
                                <li><span class="mui-badge">4</span></li>
                                <li><span class="mui-badge">5</span></li>
                                <li><span class="mui-badge">6</span></li>
                                <li><span class="mui-badge">7</span></li>
                                <li><span class="mui-badge">8</span></li>
                                <li><span class="mui-badge">9</span></li>
                                <li><span class="mui-badge">10</span></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="panel panel-white">
                        <div class="panel-header"><span class="title">第八季</span></div>
                        <div class="panel-body">
                            <ul class="film-list">
                                <li><span class="mui-badge">1</span></li>
                                <li><span class="mui-badge">2</span></li>
                                <li><span class="mui-badge">3</span></li>
                                <li><span class="mui-badge">4</span></li>
                                <li><span class="mui-badge">5</span></li>
                                <li><span class="mui-badge">6</span></li>
                                <li><span class="mui-badge">7</span></li>
                                <li><span class="mui-badge">8</span></li>
                                <li><span class="mui-badge">9</span></li>
                                <li><span class="mui-badge">10</span></li>
                            </ul>
                        </div>
                    </div>
                </div><!--剧集列表 end-->
                <div id="item2mobile" class="mui-control-content">
                    <div class="film-intro">
                        <p>行尸走肉是美国AMC电视台的丧尸电视剧，最近非常火爆，根据漫画改编</p>
                        <p>《行尸走肉》讲述了警察瑞克在一次执法行动中因中弹负伤而不省人事，当他从昏迷中苏醒后却惊讶地发现，这个世界已然天翻地覆。周遭一派死境，丧尸横行，没有活人踪影。死里逃生的瑞克赶到家中，却不见妻儿的踪影…… </p>
                        <p>尽管僵尸题材有些老套，但这部漫画却着重刻画了人物角色的心理活动与变化，人性中的黑暗面在大灾难中暴露无疑。哀殍遍野，丧尸满目，人类在其中苟</p>
                        <p>延残喘，带来毁灭与伤害的不仅仅是那些行尸走肉，还有活人间的互相争斗。故事将主人公一次次抛入绝境的同时，也给予观者一种如临末世的悲望。 </p>
                    </div>
                </div>
                <div id="item3mobile" class="mui-control-content">
                    <div class="film-comment">
                        <div class="user-info">
                            <img src="../lib/style/images/head/hepburn.png" alt="" />
                            <div class="name">Audrey Hepburn<span class="title">高级会员</span></div>
                            <div class="time">刚刚</div>
                        </div>
                        <div class="comment">
                            <p>当年看行尸走肉第一季，被震惊到了，完全是神剧！看到现在，赶紧一起删了，像老太太裹脚布一样，又臭又长！美剧的运作模式，精品最终都会烂尾！</p>
                        </div>
                        <div class="film-icon">
                            <i class="fa fa fa-user-secret"></i>
                            <i class="fa fa fa-edit"></i>
                            <i class="fa fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="film-comment">
                        <div class="user-info">
                            <img src="../lib/style/images/head/obama.png" alt="" />
                            <div class="name">Obama<span class="title">至尊会员</span></div>
                            <div class="time">一小时前</div>
                        </div>
                        <div class="comment">
                            <p>摩根的事告送我们，哪有什么真正的平静，在这个不那么美好的世界里，做一个不好不坏的人就得了，人不犯我我不犯人，别整天把什么善良挂嘴边，没个球用！！！</p>
                        </div>
                        <div class="film-icon">
                            <i class="fa fa fa-user-secret"></i>
                            <i class="fa fa fa-edit"></i>
                            <i class="fa fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="film-comment">
                        <div class="user-info">
                            <img src="../lib/style/images/head/trump.png" alt="" />
                            <div class="name">Trump<span class="title">中级会员</span></div>
                            <div class="time">一天前</div>
                        </div>
                        <div class="comment">
                            <div class="comment-transmit">
                                <p class="name">@ Obama</p>
                                <p class="comment">摩根的事告送我们，哪有什么真正的平静，在这个不那么美好的世界里，做一个不好不坏的人就得了，人不犯我我不犯人，别整天把什么善良挂嘴边，没个球用！！！</p>
                            </div>
                            <p>I am Winner！</p>
                        </div>
                        <div class="film-icon">
                            <i class="fa fa fa-user-secret"></i>
                            <i class="fa fa fa-edit"></i>
                            <i class="fa fa fa-heart"></i>
                        </div>
                    </div>
                    <button class="load-more">加载更多内容</button>
                </div>
                <div id="item4mobile" class="mui-control-content">
                    <div class="film-arch">
                        <p class="title">求行尸走肉第一季资源！</p>
                        <p class="desc">谁有行尸走肉的第一季资源，请帮一下忙发上来，谢谢！</p>
                        <div class="head">
                            <img src="../lib/style/images/head/putin.png" alt="" />
                            <p class="name">Putin</p>
                            <p class="time">一小时前</p>
                            <button class="mui-button">进行中</button>
                        </div>
                    </div>
                    <div class="film-arch">
                        <p class="title">求行尸走肉第六季HR-HDTV全季</p>
                        <div class="head">
                            <img src="../lib/style/images/head/trump.png" alt="" />
                            <p class="name">Trump</p>
                            <p class="time">一天前</p>
                            <button class="mui-button">进行中</button>
                        </div>
                    </div>
                    <div class="film-arch">
                        <p class="title">行尸走肉第7季Mp4全季</p>
                        <p class="desc">下载里面链接失联了，希望能重新更新</p>
                        <div class="head">
                            <img src="../lib/style/images/head/header.jpg" alt="" />
                            <p class="name">aYin</p>
                            <p class="time">一周前</p>
                            <button class="mui-button">进行中</button>
                        </div>
                    </div>
                    
                </div>
        </div>
    </div>
</div>
</div>

</body>

</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script>

mui('.main-scroll').scroll({
 scrollY: true, //是否竖向滚动
 scrollX: false, //是否横向滚动
 indicators: false, //是否显示滚动条
 deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
 bounce: true //是否启用回弹
});
mui('.mui-bar-transparent').transparent({
    top: 0,
    offset: 20,
    duration: 50,
    scrollby:mui('.mui-scroll-wrapper')[0]
})
</script>

