<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>资讯</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script src="../lib/init/loadFiles.js"></script>
</head>
<style>
.mui-popover{width: 150px; height:140px; }
</style>
</head>
<body>

<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">影视详情</h1>
    <a id="menu" class="mui-icon mui-icon-more mui-pull-right" href="#topPopover"></a>
</header>
<div class="mui-content mui-scroll-wrapper main-scroll">
    <div class="mui-scroll">
    <div class="mui-card card-cache">
        <div class="mui-card-header">
            <h3 class="title">生活大爆炸</h3>
        </div>
        <div class="mui-card-content">
            <div class="mui-card-content-inner">
                <p>第10季 第9集</p>
            </div>
        </div>
        <div class="mui-card-footer">
            <button class="mui-button"><i class="fa fa-download"></i>离线缓存</button>
        </div>
    </div>
    <div class="panel panel-white">
        <div class="panel-header"><span class="title">播放源</span></div>
        <div class="panel-body">
            <ul class="mui-row play-source">
                <li class="mui-col-xs-4"><img src="../lib/style/images/source/now.png" alt="" /></li>
                <li class="mui-col-xs-4"><img src="../lib/style/images/source/aqy.png" alt="" /></li>
                <li class="mui-col-xs-4"><img src="../lib/style/images/source/ls.png" alt="" /></li>
                <li class="mui-col-xs-4"><img src="../lib/style/images/source/pptv.png" alt="" /></li>
                <li class="mui-col-xs-4"><img src="../lib/style/images/source/sh.png" alt="" /></li>
                <li class="mui-col-xs-4"><img src="../lib/style/images/source/tx.png" alt="" /></li>
                <li class="mui-col-xs-4"><img src="../lib/style/images/source/yk.png" alt="" /></li>
                <li class="mui-col-xs-4"><img src="../lib/style/images/source/other.png" alt="" /></li>
            </ul>
        </div>
    </div>
    
    <div class="panel panel-white">
        <div class="panel-header"><span class="title">资源链接</span></div>
        <div class="panel-body">
            
            <ul class="mui-table-view download-links">
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">HR-HDTV <span class="mui-badge">中文字幕</span></a>
                    <div class="mui-collapse-content">
                        <div class="title"><b>生活大爆炸</b> 第10季 第9集<span class="mui-pull-right">1.5GB</span></div>
                        <ul class="links mui-row">
                            <li class="mui-col-xs-6"><a href="">电驴ED2K下载</a></li>
                            <li class="mui-col-xs-6"><a href="">BT磁力下载</a></li>
                            <li class="mui-col-xs-6"><a href="">迅雷APP下载</a></li>
                            <li class="mui-col-xs-6"><a href="">小米路由器APP下载</a></li>
                            <li class="mui-col-xs-6"><a href="">小米路由器网页下载</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">MKV 1080P</a>
                    <div class="mui-collapse-content">
                        <div class="title"><b>生活大爆炸</b> 第10季 第9集<span class="mui-pull-right">2.3GB</span></div>
                        <ul class="links mui-row">
                            <li class="mui-col-xs-6"><a href="">电驴ED2K下载</a></li>
                            <li class="mui-col-xs-6"><a href="">BT磁力下载</a></li>
                            <li class="mui-col-xs-6"><a href="">迅雷APP下载</a></li>
                            <li class="mui-col-xs-6"><a href="">小米路由器APP下载</a></li>
                            <li class="mui-col-xs-6"><a href="">小米路由器网页下载</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">MP4 720p <span class="mui-badge">中文字幕</span></a>
                    <div class="mui-collapse-content">
                        <div class="title"><b>生活大爆炸</b> 第10季 第9集<span class="mui-pull-right">700MB</span></div>
                        <ul class="links mui-row">
                            <li class="mui-col-xs-6"><a href="">电驴ED2K下载</a></li>
                            <li class="mui-col-xs-6"><a href="">BT磁力下载</a></li>
                            <li class="mui-col-xs-6"><a href="">迅雷APP下载</a></li>
                            <li class="mui-col-xs-6"><a href="">小米路由器APP下载</a></li>
                            <li class="mui-col-xs-6"><a href="">小米路由器网页下载</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
    
    <div class="panel panel-white">
        <div class="panel-header"><span class="title">热门评论</span></div>
        <div class="panel-body">
            <div class="film-comment">
                <div class="user-info">
                    <img src="../lib/style/images/head/hepburn.png" alt="" />
                    <div class="name">Audrey Hepburn<span class="title">高级会员</span></div>
                    <div class="time">刚刚</div>
                </div>
                <div class="comment">
                    <p>当年看行尸走肉第一季，被震惊到了，完全是神剧！看到现在，赶紧一起删了，像老太太裹脚布一样，又臭又长！美剧的运作模式，精品最终都会烂尾！</p>
                </div>
                <div class="film-icon">
                    <i class="fa fa fa-user-secret"></i>
                    <i class="fa fa fa-edit"></i>
                    <i class="fa fa fa-heart"></i>
                </div>
            </div>
            <div class="film-comment">
                <div class="user-info">
                    <img src="../lib/style/images/head/obama.png" alt="" />
                    <div class="name">Obama<span class="title">至尊会员</span></div>
                    <div class="time">一小时前</div>
                </div>
                <div class="comment">
                    <p>摩根的事告送我们，哪有什么真正的平静，在这个不那么美好的世界里，做一个不好不坏的人就得了，人不犯我我不犯人，别整天把什么善良挂嘴边，没个球用！！！</p>
                </div>
                <div class="film-icon">
                    <i class="fa fa fa-user-secret"></i>
                    <i class="fa fa fa-edit"></i>
                    <i class="fa fa fa-heart"></i>
                </div>
            </div>
            <div class="film-comment">
                <div class="user-info">
                    <img src="../lib/style/images/head/trump.png" alt="" />
                    <div class="name">Trump<span class="title">中级会员</span></div>
                    <div class="time">一天前</div>
                </div>
                <div class="comment">
                    <div class="comment-transmit">
                        <p class="name">@ Obama</p>
                        <p class="comment">摩根的事告送我们，哪有什么真正的平静，在这个不那么美好的世界里，做一个不好不坏的人就得了，人不犯我我不犯人，别整天把什么善良挂嘴边，没个球用！！！</p>
                    </div>
                    <p>I am Winner！</p>
                </div>
                <div class="film-icon">
                    <i class="fa fa fa-user-secret"></i>
                    <i class="fa fa fa-edit"></i>
                    <i class="fa fa fa-heart"></i>
                </div>
            </div>
            <button class="load-more">加载更多内容</button>
        </div>
    </div>
    
    
    
    <div class="panel panel-white">
        <div class="panel-header"><span class="title">关联影片</span></div>
        <div class="panel-body">
            <ul class="pic-list pic-list-h">
                <li>
                    <img src="../lib/style/images/tvplay/tvplay4.jpg">
                    <div class="media-list-body">
                        <p class="title">全境通告</p>
                        <p class="title-en">A.P.B.</p>
                        <p class="grade">8.8 
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </p>
                    </div>
                </li>
                <li>
                    <img src="../lib/style/images/tvplay/tvplay6.jpg">
                    <div class="media-list-body">
                        <p class="title">衰姐们</p>
                        <p class="title-en">Girls</p>
                        <p class="grade">8.8 
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="panel panel-white">
        <div class="panel-header"><span class="title">相关影视</span></div>
        <div class="panel-body">
            <ul class="pic-list">
                <li>
                    <img src="../lib/style/images/banner/banner1.jpg">
                    <div class="media-list-body">
                        <p class="title">《超感猎杀》第二季海报及预告解析</p>
                        <p><span class="type-news">新闻</span>泽生 1月前</p>
                    </div>
                </li>
                <li>
                    <img src="../lib/style/images/banner/banner2.jpg">
                    <div class="media-list-body">
                        <p class="title">《四重奏》| 人与人的关系像是一道复杂的几何题</p>
                        <p><span class="type-tv">剧评</span>溺水的大象 1天前</p>
                    </div>
                </li>
                <li>
                    <img src="../lib/style/images/banner/banner3.jpg">
                    <div class="media-list-body">
                        <p class="title">《入场券》：假如给我三天光明，我会用来抛妻弃子，出</p>
                        <p><span class="type-mov">影评</span>泽生 1小时前</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
<div class="comment-edit-wrap">
    <div class="comment-edit">
        <textarea class="comment-text"></textarea>
        <div class="button-group">
            <a class="comment-a"><button class="mui-button"><i class="fa fa-check"></i> 发布</button></a>
            <a class="comment-a comment-cancle"><button class="mui-button "><i class="fa fa-close"></i> 取消</button></a>
        </div>
    </div>
</div>
<div id="topPopover" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <i class="fa fa-share-square-o"></i> 分享
                </li>
                <li class="mui-table-view-cell">
                    <i class="fa fa-star-o"></i> 收藏
                </li>
                <li class="mui-table-view-cell">
                    <i class="fa fa-comments-o"></i> 评论
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script>
mui(".film-icon").on('tap','.fa-edit',function(){
    $(".comment-edit-wrap").addClass("show");
});
mui(".button-group").on('tap','.comment-cancle',function(){
    $(".comment-edit-wrap").removeClass("show");
});
mui('.main-scroll').scroll({
 scrollY: true, //是否竖向滚动
 scrollX: false, //是否横向滚动
 indicators: false, //是否显示滚动条
 deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
 bounce: true //是否启用回弹
});
</script>

