<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>人人影视H5</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" type="image/x-icon" href="../lib/style/images/yyets-logo.png" media="screen"  />
<link rel="apple-touch-icon-precomposed" href="../lib/style/images/yyets-logo.png">
<script src="../lib/init/loadFiles.js"></script>
</head>
<style>test{}</style>
<body>
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--侧滑菜单部分-->
        <aside id="offCanvasSide" class="mui-off-canvas-left side-menu-wrap">
            <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="user-info">
                        <div class="user-head">
                            <img src="../lib/style/images/head/hepburn.png" alt="" />
                        </div>
                        <p class="user-id">Audrey Hepburn</p>
                        <span class="user-level">至尊会员</span>
                    </div>
                    <ul class="block-group side-btn" style="display:none;">
                        <li><a class="mui-btn mui-btn-primary" href="login.html">登录</a></li>
                        <li><a class="mui-btn mui-btn-primary" href="register.html">注册</a></li>
                    </ul>
                    
                    <ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted side-menu">
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" id="navHome"><i class="fa fa-home"></i>首页</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" id="navFilm"><i class="fa fa-film"></i>最新</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" id="navDisc"><i class="fa fa-compass"></i>发现</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" id="navFav"><i class="fa fa-star"></i>收藏</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" id="navChat"><i class="fa fa-comments-o"></i>聊天</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" id="navPers"><i class="fa fa-user"></i>我的</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" id="navAbout"><i class="fa fa-bookmark"></i>关于</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="side-fotter-info">人人影视旗下产品</div>
        </aside>
        
        
        <aside id="offCanvasSide2" class="mui-off-canvas-right" style="width:100%;">
            <div class="ui-search">
                <div class="input-bar">
                    <input type="text" class="search-control" value="" placeholder="请输入关键字" id="some_name"/>
                    <button class="search-control" id="offCanvasHide">取消</button>
                </div>
                <div class="mui-segmented-control mui-segmented-control-inverted">
                    <a class="mui-control-item mui-active" href="#search-box-1">影视</a>
                    <a class="mui-control-item" href="#search-box-2">资讯</a>
                    <a class="mui-control-item" href="#search-box-3">默认</a>
                </div>
                <div id="search-box-1" class="mui-control-content mui-scroll-wrapper mui-active">
                    <div class="mui-scroll">
                    <ul class="play-list  play-list-col3">
                        <li>
                            <div class="img-item">
                                <span class="count">8.2</span>
                                <span class="type">电影</span>
                                <img src="../lib/style/images/movies/movie2.jpg" alt="">
                            </div>
                            <p class="desc">黑夜传说3</p>
                            <p class="desc desc-en">Underworld: Rise of the Lycans</p>
                        </li>
                        <li>
                            <div class="img-item">
                                <span class="count">8.9</span>
                                <span class="type">电影</span>
                                <img src="../lib/style/images/movies/movie3.jpg" alt="">
                            </div>
                            <p class="desc">刺客信条</p>
                            <p class="desc desc-en">Assassin's Creed</p>
                        </li>
                        <li>
                            <div class="img-item">
                                <span class="count">7.3</span>
                                <img src="../lib/style/images/tvplay/tvplay4.jpg" alt="">
                            </div>
                            <p class="desc">全境通告</p>
                            <p class="desc desc-en">A.P.B.</p>
                        </li>
                        <li>
                            <div class="img-item">
                                <span class="count">8.5</span>
                                <span class="type">美剧</span>
                                <img src="../lib/style/images/tvplay/tvplay1.jpg" alt="">
                            </div>
                            <p class="desc">行尸走肉</p>
                            <p class="desc desc-en">Walking Dead</p>
                        </li>
                        <li>
                            <div class="img-item">
                                <span class="count">6.7</span>
                                <span class="type">美剧</span>
                                <img src="../lib/style/images/tvplay/tvplay2.jpg" alt="">
                            </div>
                            <p class="desc">浮生若寄</p>
                            <p class="desc desc-en">Crashing</p>
                        </li>
                        <li>
                            <div class="img-item">
                                <span class="count">5.4</span>
                                <span class="type">美剧</span>
                                <img src="../lib/style/images/tvplay/tvplay3.jpg" alt="">
                            </div>
                            <p class="desc">谍网</p>
                            <p class="desc desc-en">Quantico</p>
                        </li>
                        <li>
                            <div class="img-item">
                                <span class="count">7.5</span>
                                <img src="../lib/style/images/tvplay/tvplay5.jpg" alt="">
                            </div>
                            <p class="desc">最后一个男人</p>
                            <p class="desc desc-en">The Last Man on Earth</p>
                        </li>
                        
                    </ul>
                    </div>
                </div>
                <div id="search-box-2" class="mui-control-content mui-scroll-wrapper">
                    <div class="mui-scroll">
                    <ul class="pic-list">
                        <li>
                            <img src="../lib/style/images/banner/banner1.jpg">
                            <div class="media-list-body">
                                <p class="title">《超感猎杀》第二季海报及预告解析</p>
                                <p><span class="type-news">新闻</span>泽生 1月前</p>
                            </div>
                        </li>
                        <li>
                            <img src="../lib/style/images/banner/banner2.jpg">
                            <div class="media-list-body">
                                <p class="title">《四重奏》| 人与人的关系像是一道复杂的几何题</p>
                                <p><span class="type-tv">剧评</span>溺水的大象 1天前</p>
                            </div>
                        </li>
                        <li>
                            <img src="../lib/style/images/banner/banner3.jpg">
                            <div class="media-list-body">
                                <p class="title">《入场券》：假如给我三天光明，我会用来抛妻弃子，出</p>
                                <p><span class="type-mov">影评</span>泽生 1小时前</p>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
                <div id="search-box-3" class="mui-control-content">
                    <div class="feed-back">抱歉，没有搜索到相关资讯！！</div>
                </div>
            </div>
        </aside>
        <!--主界面部分-->
        <div class="mui-inner-wrap">
            <header class="mui-bar mui-bar-nav">
                <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
                <a href="" class="mui-pull-left icon-desc">菜单</a>
                <a href="#offCanvasSide2" class=" mui-icon mui-action-menu  mui-icon-search  mui-pull-right"></a>
                <h1 class="mui-title">首页</h1>
            </header>
            
            <div class="mui-off-canvas-backdrop"></div><!-- off-canvas backdrop -->
        </div>
    </div>
    <div class="mobile-tip android-tip">
        <img src="../lib/style/images/yyets-logo.png" alt="" />
        <p class="desc">Android APP Download Here !</p>
        <div class="fa fa-times"></div>
    </div>
    <div class="mobile-tip iphone-tip">
        <img src="../lib/style/images/yyets-logo.png" alt="" />
        <p class="desc">点击下方按钮，选择“添加至主屏幕”，即可从桌面访问！</p>
        <div class="fa fa-times"></div>
        <div class="arrow"></div>
    </div>
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script>
//navHome navFilm navDisc navFav navPers navAbout
var offCanvasWrapper = mui('#offCanvasWrapper');
document.querySelector('#offCanvasSide').addEventListener('tap',function(){mui('#offCanvasWrapper').offCanvas('close');});
document.querySelector('#navHome').addEventListener('tap',function(){navHome();});
document.querySelector('#navFilm').addEventListener('tap',function(){navFilm();});
document.querySelector('#navDisc').addEventListener('tap',function(){navDisc();});
document.querySelector('#navFav').addEventListener('tap',function(){navFav();});
document.querySelector('#navPers').addEventListener('tap',function(){navPers();});
document.querySelector('#navAbout').addEventListener('tap',function(){navAbout();});
document.getElementById('offCanvasHide').addEventListener('tap', function() { offCanvasWrapper.offCanvas('close');});
mui('.mui-scroll-wrapper').scroll({
 scrollY: true, //是否竖向滚动
 scrollX: false, //是否横向滚动
 indicators: false, //是否显示滚动条
 deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
 bounce: true //是否启用回弹
});
function cleanMuiCont(name,search){
    $(".mui-title").html(name);
    $(".mui-content").remove();
    if(search!=false){
        $(".mui-icon-search").show();
    }else{
        $(".mui-icon-search").hide();
    }
}
function navHome(){
    var name="首页";
    var search=true;
    cleanMuiCont(name,search);
    $.ajax({
        url: "index-home.html", 
        type: "GET", 
        dataType:"html",
        success: function(data){
            var Obj = $("<code></code>").append($(data));//包装数据  
            var html = $(".mui-content", Obj);
            $(".mui-inner-wrap").append(html);
            
            function cloneslideimg(){
                var parent=$(".aui-slider .mui-slider-group");
                parent.addClass("alreadyClone");
                parent.append(parent.find(".mui-slider-item:first").clone());
                parent.prepend(parent.find(".mui-slider-item:last").prev().clone());
            }
            //cloneslideimg();
            document.querySelector('.mui-slider').addEventListener('load', function(event) {
              //图片滑动时的监听事件
            });
            
            mui("#slider").slider({interval: 2000},cloneslideimg());//slider加载时候之下cloneslideimg事件，完成图片补充
            mui('.play-list-wrap').scroll({
             scrollY: false, //是否竖向滚动
             scrollX: true, //是否横向滚动
             indicators: false, //是否显示滚动条
             deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
             bounce: true //是否启用回弹
            });
            mui('.main-scroll').scroll({
             scrollY: true, //是否竖向滚动
             scrollX: false, //是否横向滚动
             indicators: false, //是否显示滚动条
             deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
             bounce: true //是否启用回弹
            });
        }
    });
}


function navFilm(){
    var name="最新";
    var search=true;
    cleanMuiCont(name,search);
    $.ajax({
        url: "index-film.html", 
        type: "GET", 
        dataType:"html",
        success: function(data){
            var Obj = $("<code></code>").append($(data));//包装数据  
            var html = $(".mui-content", Obj);
            $(".mui-inner-wrap").append(html);
            document.querySelector('.filter-btn').addEventListener('tap',function(){
                $(".film-filter").toggleClass("film-filter-expand");
            });
            document.querySelector('.btn-close-filter').addEventListener('tap',function(){
                $(".film-filter").toggleClass("film-filter-expand");
            });
            
            mui(".filter-item").on('tap','.filter-item li',function(){
                var eobj=this;
                var $eobj=$(this).parent().children();
                $($eobj).each(function(i,bro2){
                    if(bro2==eobj){
                        $(bro2).addClass("active");
                    }else{
                        $(bro2).removeClass("active");
                    }
                });
            })
            //$(".filter-item li").interaction({type:"radio"});
            mui('.film-filter .mui-scroll-wrapper').scroll({
             scrollY: false, //是否竖向滚动
             scrollX: true, //是否横向滚动
             indicators: false, //是否显示滚动条
             deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
             bounce: true //是否启用回弹
            });
            
            mui('.main-scroll').scroll({
             scrollY: true, //是否竖向滚动
             scrollX: false, //是否横向滚动
             indicators: false, //是否显示滚动条
             deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
             bounce: true //是否启用回弹
            });
        }
    });
}

function navDisc(){
    var name="发现";
    var search=true;
    cleanMuiCont(name,search);
    $.ajax({
        url: "index-disc.html", 
        type: "GET", 
        dataType:"html",
        success: function(data){
            var Obj = $("<code></code>").append($(data));//包装数据  
            var html = $(".mui-content", Obj);
            $(".mui-inner-wrap").append(html);
            document.querySelector('.pic-list-h li .fav').addEventListener('tap',function(){
                
            });
            
            mui(".pic-list-h li").on('tap','.fav',function(){
               if($(this).hasClass("active")){
                    $(this).removeClass("active");//已收藏
                }else{
                    $(this).addClass("active");//未收藏
                }
            }) 
            
            mui('.play-list-wrap').scroll({
             scrollY: false, //是否竖向滚动
             scrollX: true, //是否横向滚动
             indicators: false, //是否显示滚动条
             deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
             bounce: true //是否启用回弹
            });
            mui('.main-scroll').scroll({
             scrollY: true, //是否竖向滚动
             scrollX: false, //是否横向滚动
             indicators: false, //是否显示滚动条
             deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
             bounce: true //是否启用回弹
            });
        }
    });
}

function navFav(){
    var name="收藏";
    var search=true;
    cleanMuiCont(name,search);
    $.ajax({
        url: "index-fav.html", 
        type: "GET", 
        dataType:"html",
        success: function(data){
            var Obj = $("<code></code>").append($(data));//包装数据  
            var html = $(".mui-content", Obj);
            $(".mui-inner-wrap").append(html);
            var tab=$(html).find(".mui-segmented-control");
            $(".mui-title").empty().append(tab);
            
            mui(".pic-list li").on('tap','.fav',function(){
               if($(this).hasClass("active")){
                    $(this).removeClass("active");//已收藏
                }else{
                    $(this).addClass("active");//未收藏
                }
            }) 
            
            mui('.main-scroll').scroll({
             scrollY: true, //是否竖向滚动
             scrollX: false, //是否横向滚动
             indicators: false, //是否显示滚动条
             deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
             bounce: true //是否启用回弹
            });
        }
    });
}

function navPers(){
    var name="我的";
    var search=false;
    cleanMuiCont(name,search);
    $.ajax({
        url: "index-pers.html", 
        type: "GET", 
        dataType:"html",
        success: function(data){
            var Obj = $("<code></code>").append($(data));//包装数据  
            var html = $(".mui-content", Obj);
            $(".mui-inner-wrap").append(html);
            mui('.main-scroll').scroll({
             scrollY: true, //是否竖向滚动
             scrollX: false, //是否横向滚动
             indicators: false, //是否显示滚动条
             deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
             bounce: true //是否启用回弹
            });
        }
    });
}

function navAbout(){
    var name="关于";
    var search=false;
    cleanMuiCont(name,search);
    $.ajax({
        url: "index-about.html", 
        type: "GET", 
        dataType:"html",
        success: function(data){
            var Obj = $("<code></code>").append($(data));//包装数据  
            var html = $(".mui-content", Obj);
            $(".mui-inner-wrap").append(html);
            mui('.main-scroll').scroll({
             scrollY: true, //是否竖向滚动
             scrollX: false, //是否横向滚动
             indicators: false, //是否显示滚动条
             deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
             bounce: true //是否启用回弹
            });
        }
    });
}
navHome();
if($("html").hasClass("android")){
    $(".android-tip").addClass("show");
}else if($("html").hasClass("iphone")){
    $(".iphone-tip").addClass("show");
}
mui(".mobile-tip").on("tap",".fa-times",function(){
    $(this).parent().removeClass("show");
});
</script>

