<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <div class="mui-content mui-scroll-wrapper main-scroll">
        <div class="mui-scroll">
           <div class="mui-card card-about">
                <div class="mui-card-header">
                    <div class="about-logo"><img src="../lib/style/images/zimuzu-logo.png" alt="" /></div>
                    <h3 class="title">关于人人影视</h3>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <p>网站前身YYeTs字幕组是于2003年由加拿大华侨留学生小鬼神创立。</p>
                        <p>2006年6月开放了YYeTs美剧论坛，2007年正式更名为人人影视。</p>
                        <p>宗旨为：分享、学习、进步。常年提供国外影视剧和公开课的翻译字幕和资源下载。</p>
                    </div>
                </div>
                <div class="mui-card-footer">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell">
                            <a id="head" class="mui-navigate-right">微博<span class="mui-pull-right head">http://weibo.com/zimuzu2015</span></a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a>微信<span class="mui-pull-right">ustvboom(美剧炸了)</span></a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a>邮箱<span class="mui-pull-right">zimuzu.tv@gmail.com</span></a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a>电话<span class="mui-pull-right">852-54857995（香港）宋先生</span></a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a>地址<span class="mui-pull-right">香港灣仔駱克道3號22樓</span></a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a>商业正版翻译<span class="mui-pull-right">fanyi@yyets.com</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="mui-card card-about">
                <button class="mui-button">加入我们</button>
            </div>
        </div><!-- mui-scroll end -->
    </div><!-- mui-content end -->
    
    
    
    
</body>
</html>


