<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <div class="mui-content mui-scroll-wrapper main-scroll">
        <div class="mui-scroll">
           <div class="mui-segmented-control header-tab">
                <a class="mui-control-item mui-active" href="#item1mobile">收藏的影视</a>
                <a class="mui-control-item" href="#item2mobile">收藏的资讯</a>
            </div>
            <div id="item1mobile" class="mui-control-content mui-active">
                <ul class="pic-list pic-list-h">
                    <li>
                        <img src="../lib/style/images/tvplay/tvplay4.jpg">
                        <div class="media-list-body">
                            <p class="title">全境通告</p>
                            <p class="title-en">A.P.B.</p>
                            <p>
                                <span class="markTV">
                                    <span class="TVA">S2E8</span>
                                    <span class="TVS">S3E15</span>
                                </span>
                                <span class="fa fa-calendar"> 04.17</span>
                             </p>
                        </div>
                        <div class="fav active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/tvplay/tvplay5.jpg">
                        <div class="media-list-body">
                            <p class="title">最后一个男人</p>
                            <p class="title-en">The Last Man on Earth</p>
                            <p>
                                <span class="markTV">
                                    <span class="TVA">S5E18</span>
                                    <span class="TVS">S5E22</span>
                                </span>
                                <span class="fa fa-calendar"> 04.17</span>
                             </p>
                        </div>
                        <div class="fav active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/tvplay/tvplay6.jpg">
                        <div class="media-list-body">
                            <p class="title">衰姐们</p>
                            <p class="title-en">Girls</p>
                            <p>
                                <span class="markTV">
                                    <span class="TVA">S1E1</span>
                                    <span class="TVS">S1E3</span>
                                </span>
                                <span class="fa fa-calendar"> 04.16</span>
                             </p>
                        </div>
                        <div class="fav active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/tvplay/tvplay1.jpg">
                        <div class="media-list-body">
                            <p class="title">行尸走肉</p>
                            <p class="title-en">Walking Dead</p>
                            <p>
                                <span class="markTV">
                                    <span class="TVA">S1E1</span>
                                    <span class="TVS">S8E3</span>
                                </span>
                                <span class="fa fa-calendar"> 04.15</span>
                             </p>
                        </div>
                        <div class="fav active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/tvplay/tvplay2.jpg">
                        <div class="media-list-body">
                            <p class="title">浮生若寄</p>
                            <p class="title-en">Crashing</p>
                            <p>
                                <span class="markTV">
                                    <span class="TVA">S1E1</span>
                                    <span class="TVS">S1E3</span>
                                </span>
                                <span class="fa fa-calendar"> 04.17</span>
                             </p>
                        </div>
                        <div class="fav active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/tvplay/tvplay3.jpg">
                        <div class="media-list-body">
                            <p class="title">谍网</p>
                            <p class="title-en">Quantico</p>
                            <p>
                                <span class="markTV">
                                    <span class="TVA">S1E1</span>
                                    <span class="TVS">S1E3</span>
                                </span>
                                <span class="fa fa-calendar"> 04.17</span>
                             </p>
                        </div>
                        <div class="fav active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/tvplay/tvplay7.jpg">
                        <div class="media-list-body">
                            <p class="title">开心汉堡店</p>
                            <p class="title-en">Bob's Burgers</p>
                            <p>
                                <span class="markTV">
                                    <span class="TVA">S1E1</span>
                                    <span class="TVS">S1E3</span>
                                </span>
                                <span class="fa fa-calendar"> 04.17</span>
                             </p>
                        </div>
                        <div class="fav active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/tvplay/tvplay8.jpg">
                        <div class="media-list-body">
                            <p class="title">亿万</p>
                            <p class="title-en">Billions</p>
                            <p>
                                <span class="markTV">
                                    <span class="TVA">S1E1</span>
                                    <span class="TVS">S1E3</span>
                                </span>
                                <span class="fa fa-calendar"> 04.17</span>
                             </p>
                        </div>
                        <div class="fav active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/tvplay/tvplay9.jpg">
                        <div class="media-list-body">
                            <p class="title">24小时：遗产</p>
                            <p class="title-en">24: Legacy</p>
                            <p>
                                <span class="markTV">
                                    <span class="TVA">S1E1</span>
                                    <span class="TVS">S1E3</span>
                                </span>
                                <span class="fa fa-calendar"> 04.17</span>
                             </p>
                        </div>
                        <div class="fav active"></div>
                    </li>
                    
                </ul>
            </div>
            <div id="item2mobile" class="mui-control-content">
                <ul class="pic-list">
                    <li>
                        <img src="../lib/style/images/banner/banner1.jpg">
                        <div class="media-list-body">
                            <p class="title">《超感猎杀》第二季海报及预告解析</p>
                            <p><span class="type-news">新闻</span>泽生 1月前</p>
                        </div>
                        <div class="fav fav-small active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/banner/banner2.jpg">
                        <div class="media-list-body">
                            <p class="title">《四重奏》| 人与人的关系像是一道复杂的几何题</p>
                            <p><span class="type-tv">剧评</span>溺水的大象 1天前</p>
                        </div>
                        <div class="fav fav-small active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/banner/banner3.jpg">
                        <div class="media-list-body">
                            <p class="title">《入场券》：假如给我三天光明，我会用来抛妻弃子，出</p>
                            <p><span class="type-mov">影评</span>泽生 1小时前</p>
                        </div>
                        <div class="fav fav-small active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/banner/banner1.jpg">
                        <div class="media-list-body">
                            <p class="title">《超感猎杀》第二季海报及预告解析</p>
                            <p><span class="type-news">新闻</span>泽生 1月前</p>
                        </div>
                        <div class="fav fav-small active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/banner/banner2.jpg">
                        <div class="media-list-body">
                            <p class="title">《四重奏》| 人与人的关系像是一道复杂的几何题</p>
                            <p><span class="type-tv">剧评</span>溺水的大象 1天前</p>
                        </div>
                        <div class="fav fav-small active"></div>
                    </li>
                    <li>
                        <img src="../lib/style/images/banner/banner3.jpg">
                        <div class="media-list-body">
                            <p class="title">《入场券》：假如给我三天光明，我会用来抛妻弃子，出</p>
                            <p><span class="type-mov">影评</span>泽生 1小时前</p>
                        </div>
                        <div class="fav fav-small active"></div>
                    </li>
                </ul>
            </div>
        </div><!-- mui-scroll end -->
    </div><!-- mui-content end -->
    
    
    
    
</body>
</html>


