<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <div class="mui-content mui-scroll-wrapper main-scroll">
        <div class="mui-scroll">
            <div class="mui-card">
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <ul class="play-list play-list-col3">
                            <li>
                                <div class="img-item">
                                    <img src="../lib/style/images/box/box6.png" alt="" />
                                    <div class="desc">
                                        <p>最新资源</p>
                                        <p>Resources</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-item">
                                    <img src="../lib/style/images/box/box1.png" alt="" />
                                    <div class="desc">
                                        <p>时间表</p>
                                        <p>Schedule</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-item">
                                    <img src="../lib/style/images/box/box2.png" alt="" />
                                    <div class="desc">
                                        <p>新闻资讯</p>
                                        <p>News</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-item">
                                    <img src="../lib/style/images/box/box3.png" alt="" />
                                    <div class="desc">
                                        <p>影视字幕</p>
                                        <p>Subtitles</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-item">
                                    <img src="../lib/style/images/box/box4.png" alt="" />
                                    <div class="desc">
                                        <p>相关求档</p>
                                        <p>Source</p>  
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-item">
                                    <img src="../lib/style/images/box/box5.png" alt="" />
                                    <div class="desc">
                                        <p>排行榜</p>
                                        <p>Ranking</p>
                                    </div>
                                </div>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-infomation">
                <div class="panel-header"><span class="title">今日播出-4月6日</span></div>
                <div class="panel-body">
                    <ul class="pic-list pic-list-h">
                        <li>
                            <img src="../lib/style/images/tvplay/tvplay1.jpg">
                            <div class="media-list-body">
                                <p class="title">行尸走肉</p>
                                <p class="title-en">Walking Dead</p>
                                <p>
                                    <span class="markTV">
                                        <span class="TVS">S7E8</span>
                                    </span>
                                 </p>
                            </div>
                            <div class="fav fa active"></div>
                        </li>
                        <li>
                            <img src="../lib/style/images/tvplay/tvplay2.jpg">
                            <div class="media-list-body">
                                <p class="title">浮生若寄</p>
                                <p class="title-en">Crashing</p>
                                <p>
                                    <span class="markTV">
                                        <span class="TVS">S32E</span>
                                    </span>
                                 </p>
                            </div>
                            <div class="fav fa"></div>
                        </li>
                        <li>
                            <img src="../lib/style/images/tvplay/tvplay3.jpg">
                            <div class="media-list-body">
                                <p class="title">谍网</p>
                                <p class="title-en">Quantico</p>
                                <p>
                                    <span class="markTV">
                                        <span class="TVS">S4E5</span>
                                    </span>
                                 </p>
                            </div>
                            <div class="fav fa"></div>
                        </li>
                    </ul>
                </div>
            </div><!--panel-infomation end-->
            
            <div class="panel panel-infomation">
                <div class="panel-header"><span class="title">明日播出-4月7日</span></div>
                <div class="panel-body">
                    <ul class="pic-list pic-list-h">
                        <li>
                            <img src="../lib/style/images/tvplay/tvplay4.jpg">
                            <div class="media-list-body">
                                <p class="title">全境通告</p>
                                <p class="title-en">A.P.B.</p>
                                <p>
                                    <span class="markTV">
                                        <span class="TVS">S2E8</span>
                                    </span>
                                 </p>
                            </div>
                            <div class="fav fa active"></div>
                        </li>
                        <li>
                            <img src="../lib/style/images/tvplay/tvplay5.jpg">
                            <div class="media-list-body">
                                <p class="title">最后一个男人</p>
                                <p class="title-en">The Last Man on Earth</p>
                                <p>
                                    <span class="markTV">
                                        <span class="TVS">S4E12</span>
                                    </span>
                                 </p>
                            </div>
                            <div class="fav fa"></div>
                        </li>
                        <li>
                            <img src="../lib/style/images/tvplay/tvplay6.jpg">
                            <div class="media-list-body">
                                <p class="title">衰姐们</p>
                                <p class="title-en">Girls</p>
                                <p>
                                    <span class="markTV">
                                        <span class="TVS">S1E2</span>
                                    </span>
                                 </p>
                            </div>
                            <div class="fav fa"></div>
                        </li>
                    </ul>
                </div>
            </div><!--panel-infomation end-->
            
            <div class="mui-card">
                <div class="mui-card-header">
                    <p class="title"><span class="type-news">新闻</span>《银河护卫队》：银河废柴进化史，回归前需知的几件事</p>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <img style="width:100%;" src="../lib/style/images/banner/banner5.jpg">
                    </div>
                </div>
                <div class="mui-card-footer">
                    <p class="info">泽生发表于 1月前</p>
                    <a class="mui-card-link"><i class="fa fa-thumbs-o-up"></i> 1629</a>
                    <a class="mui-card-link"><i class="fa fa-comment-o"></i> 251</a>
                </div>
            </div>
            
            <div class="panel panel-today-movie">
                <div class="panel-header"><span class="title">影视列表-滚动</span></div>
                <div class="panel-body">
                    <div class="mui-scroll-wrapper play-list-wrap">
                        <div class="mui-scroll">
                            <ul class="play-list">
                                <li>
                                    <div class="img-item">
                                        <span class="count">1</span>
                                        <img src="../lib/style/images/movies/movie1.jpg" alt="" />
                                    </div>
                                    <p class="desc">行尸走肉</p>
                                </li>
                                <li>
                                    <div class="img-item">
                                        <span class="count">2</span>
                                        <img src="../lib/style/images/movies/movie2.jpg" alt="" />
                                    </div>
                                    <p class="desc">浮生若寄</p>
                                </li>
                                <li>
                                    <div class="img-item">
                                        <span class="count">3</span>
                                        <img src="../lib/style/images/movies/movie3.jpg" alt="" />
                                    </div>
                                    <p class="desc">谍网</p>
                                </li>
                                <li>
                                    <div class="img-item">
                                        <span class="count">4</span>
                                        <img src="../lib/style/images/movies/movie4.jpg" alt="" />
                                    </div>
                                    <p class="desc">全境通告全境通告</p>
                                </li>
                                <li>
                                    <div class="img-item">
                                        <span class="count">5</span>
                                        <img src="../lib/style/images/movies/movie5.jpg" alt="" />
                                    </div>
                                    <p class="desc">世界上最后一个男人</p>
                                </li>
                                <li>
                                    <div class="img-item">
                                        <span class="count">6</span>
                                        <img src="../lib/style/images/movies/movie6.jpg" alt="" />
                                    </div>
                                    <p class="desc">衰姐们</p>
                                </li>
                                <li>
                                    <div class="img-item">
                                        <span class="count">7</span>
                                        <img src="../lib/style/images/movies/movie7.jpg" alt="" />
                                    </div>
                                    <p class="desc">开心汉堡店</p>
                                </li>
                                <li>
                                    <div class="img-item">
                                        <span class="count">8</span>
                                        <img src="../lib/style/images/movies/movie8.jpg" alt="" />
                                    </div>
                                    <p class="desc">谍网</p>
                                </li>
                                <li>
                                    <div class="img-item">
                                        <span class="count">9</span>
                                        <img src="../lib/style/images/movies/movie9.jpg" alt="" />
                                    </div>
                                    <p class="desc">浮生若寄</p>
                                </li>
                                <li>
                                    <div class="img-item">
                                        <span class="count">10</span>
                                        <img src="../lib/style/images/movies/movie10.jpg" alt="" />
                                    </div>
                                    <p class="desc">谍网</p>
                                </li>
                                <li>
                                    <div class="img-item">
                                        <span class="count">11</span>
                                        <img src="../lib/style/images/movies/movie11.jpg" alt="" />
                                    </div>
                                    <p class="desc">谍网</p>
                                </li>
                                
                            </ul>
                        </div>
                    </div>    
                </div>
            </div><!-- movie end -->
        </div><!-- mui-scroll end -->
    </div><!-- mui-content end -->
    
</body>
</html>


