<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <div class="mui-content mui-scroll-wrapper main-scroll">
        <div class="mui-scroll">
           <ul class="mui-table-view mui-table-view-chevron setting-list">
                <li class="mui-table-view-cell">
                    <a href="#notifications" class="mui-navigate-right"><i class="fa fa-user"></i>资料修改</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#general" class="mui-navigate-right"><i class="fa fa-star"></i>我的收藏</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#privacy" class="mui-navigate-right"><i class="fa fa-envelope"></i>我的私信</a>
                </li>
                <li class="mui-table-view-cell">
                    <a href="#general" class="mui-navigate-right"><i class="fa fa-history"></i>观看记录</a>
                </li>
            </ul>
            <ul class="mui-table-view  setting-list">
                <li class="mui-table-view-cell" style="text-align: center;">
                    <a><i class="fa fa-sign-out"></i>退出登录</a>
                </li>
            </ul>
            <div id="privacy" class="mui-page">
                <div class="mui-navbar-inner mui-bar mui-bar-nav">
                    <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
                        <span class="mui-icon mui-icon-left-nav"></span>设置
                    </button>
                    <h1 class="mui-center mui-title">隐私</h1>
                </div>
                <div class="mui-page-content">
                    <div class="mui-scroll-wrapper" data-scroll="6">
                        <div class="mui-scroll" style="transform: translate3d(0px, 0px, 0px) translateZ(0px);">
                            <ul class="mui-table-view">
                                <li class="mui-table-view-divider">通讯录</li>
                                <li class="mui-table-view-cell">
                                    加我为朋友时需要验证
                                    <div class="mui-switch mui-active mui-switch-mini" data-switch="13">
                                        <div class="mui-switch-handle"></div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="mui-table-view">
                                <li class="mui-table-view-cell">
                                    向我推荐QQ好友
                                    <div class="mui-switch mui-switch-mini" data-switch="14">
                                        <div class="mui-switch-handle"></div>
                                    </div>
                                </li>
                                <li class="mui-table-view-cell">
                                    通过QQ号搜索到我
                                    <div class="mui-switch mui-switch-mini" data-switch="15">
                                        <div class="mui-switch-handle"></div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="mui-table-view">
                                <li class="mui-table-view-cell">
                                    可通过手机号搜索到我
                                    <div class="mui-switch mui-active mui-switch-mini" data-switch="16">
                                        <div class="mui-switch-handle"></div>
                                    </div>
                                </li>
                                <li class="mui-table-view-cell">
                                    向我推荐通讯录朋友
                                    <div class="mui-switch mui-switch-mini" data-switch="17">
                                        <div class="mui-switch-handle"></div>
                                    </div>
                                </li>
                                <li class="mui-table-view-divider">开启后，为你推荐已经开通HBuilder的手机联系人</li>
                            </ul>
                            <ul class="mui-table-view">
                                <li class="mui-table-view-cell">
                                    通过HBuilder账号搜索到我
                                    <div class="mui-switch mui-active mui-switch-mini" data-switch="18">
                                        <div class="mui-switch-handle"></div>
                                    </div>
                                </li>
                                <li class="mui-table-view-divider">关闭后，其他用户将不能通过HBuilder号搜索到你</li>
                            </ul>
    
                        </div>
                    <div class="mui-scrollbar mui-scrollbar-vertical"><div class="mui-scrollbar-indicator" style="transition-duration: 0ms; display: none; height: 8px; transform: translate3d(0px, -8px, 0px) translateZ(0px);"></div></div></div>
                </div>
            </div>
        </div><!-- mui-scroll end -->
    </div><!-- mui-content end -->
    
    
    
    
</body>
</html>


