<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script src="../lib/init/loadFiles.js"></script>
</head>
<body>
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--侧滑菜单部分-->
        <aside id="offCanvasSide" class="mui-off-canvas-left side-menu-wrap">
            <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="block-group side-btn">
                        <li><a class="mui-btn mui-btn-primary" href="login.html">登录</a></li>
                        <li><a class="mui-btn mui-btn-primary" href="register.html">注册</a></li>
                    </ul>
                    
                    <ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted side-menu">
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right"><i class="fa fa-home"></i>首页</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right"><i class="fa fa-film"></i>影视</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right"><i class="fa fa-compass"></i>发现</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right"><i class="fa fa-star"></i>收藏</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right"><i class="fa fa-user"></i>我的</a>
                        </li>
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right"><i class="fa fa-bookmark"></i>关于</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="side-fotter-info">人人影视旗下产品</div>
        </aside>
        <!--主界面部分-->
        <div class="mui-inner-wrap">
            <header class="mui-bar mui-bar-nav">
                <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
                <a class=" mui-icon mui-action-menu  mui-icon-search  mui-pull-right"></a>
                <h1 class="mui-title">首页</h1>
            </header>
                     
            <div class="mui-content mui-scroll-wrapper main-scroll">
                <div class="mui-scroll">
                    <div class="panel panel-today-tvplay">
                        <div class="panel-header"><span class="title">今日推荐-美剧</span></div>
                        <div class="panel-body">
                            <div class="mui-scroll-wrapper play-list-wrap">
                                <div class="mui-scroll">
                                    <ul class="play-list">
                                        <li>
                                            <span class="count">1</span>
                                            <img src="../lib/style/images/tvplay/tvplay1.jpg" alt="" />
                                            <p class="desc">行尸走肉</p>
                                        </li>
                                        <li>
                                            <span class="count">2</span>
                                            <img src="../lib/style/images/tvplay/tvplay2.jpg" alt="" />
                                            <p class="desc">浮生若寄</p>
                                        </li>
                                        <li>
                                            <span class="count">3</span>
                                            <img src="../lib/style/images/tvplay/tvplay3.jpg" alt="" />
                                            <p class="desc">谍网</p>
                                        </li>
                                        <li>
                                            <span class="count">4</span>
                                            <img src="../lib/style/images/tvplay/tvplay4.jpg" alt="" />
                                            <p class="desc">全境通告</p>
                                        </li>
                                        <li>
                                            <span class="count">5</span>
                                            <img src="../lib/style/images/tvplay/tvplay5.jpg" alt="" />
                                            <p class="desc">世界上最后一个男人</p>
                                        </li>
                                        <li>
                                            <span class="count">6</span>
                                            <img src="../lib/style/images/tvplay/tvplay6.jpg" alt="" />
                                            <p class="desc">衰姐们</p>
                                        </li>
                                        <li>
                                            <span class="count">7</span>
                                            <img src="../lib/style/images/tvplay/tvplay7.jpg" alt="" />
                                            <p class="desc">开心汉堡店</p>
                                        </li>
                                        <li>
                                            <span class="count">8</span>
                                            <img src="../lib/style/images/tvplay/tvplay8.jpg" alt="" />
                                            <p class="desc">谍网</p>
                                        </li>
                                        <li>
                                            <span class="count">9</span>
                                            <img src="../lib/style/images/tvplay/tvplay9.jpg" alt="" />
                                            <p class="desc">浮生若寄</p>
                                        </li>
                                        <li>
                                            <span class="count">10</span>
                                            <img src="../lib/style/images/tvplay/tvplay10.jpg" alt="" />
                                            <p class="desc">谍网</p>
                                        </li>
                                        <li>
                                            <span class="count">11</span>
                                            <img src="../lib/style/images/tvplay/tvplay11.jpg" alt="" />
                                            <p class="desc">谍网</p>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>    
                        </div>
                    </div><!--tv end-->
                    
                    <div class="panel panel-today-movie">
                        <div class="panel-header"><span class="title">今日推荐-电影</span></div>
                        <div class="panel-body">
                            <div class="mui-scroll-wrapper play-list-wrap">
                                <div class="mui-scroll">
                                    <ul class="play-list">
                                        <li>
                                            <span class="count">1</span>
                                            <img src="../lib/style/images/movies/movie1.jpg" alt="" />
                                            <p class="desc">行尸走肉</p>
                                        </li>
                                        <li>
                                            <span class="count">2</span>
                                            <img src="../lib/style/images/movies/movie2.jpg" alt="" />
                                            <p class="desc">浮生若寄</p>
                                        </li>
                                        <li>
                                            <span class="count">3</span>
                                            <img src="../lib/style/images/movies/movie3.jpg" alt="" />
                                            <p class="desc">谍网</p>
                                        </li>
                                        <li>
                                            <span class="count">4</span>
                                            <img src="../lib/style/images/movies/movie4.jpg" alt="" />
                                            <p class="desc">全境通告</p>
                                        </li>
                                        <li>
                                            <span class="count">5</span>
                                            <img src="../lib/style/images/movies/movie5.jpg" alt="" />
                                            <p class="desc">世界上最后一个男人</p>
                                        </li>
                                        <li>
                                            <span class="count">6</span>
                                            <img src="../lib/style/images/movies/movie6.jpg" alt="" />
                                            <p class="desc">衰姐们</p>
                                        </li>
                                        <li>
                                            <span class="count">7</span>
                                            <img src="../lib/style/images/movies/movie7.jpg" alt="" />
                                            <p class="desc">开心汉堡店</p>
                                        </li>
                                        <li>
                                            <span class="count">8</span>
                                            <img src="../lib/style/images/movies/movie8.jpg" alt="" />
                                            <p class="desc">谍网</p>
                                        </li>
                                        <li>
                                            <span class="count">9</span>
                                            <img src="../lib/style/images/movies/movie9.jpg" alt="" />
                                            <p class="desc">浮生若寄</p>
                                        </li>
                                        <li>
                                            <span class="count">10</span>
                                            <img src="../lib/style/images/movies/movie10.jpg" alt="" />
                                            <p class="desc">谍网</p>
                                        </li>
                                        <li>
                                            <span class="count">11</span>
                                            <img src="../lib/style/images/movies/movie11.jpg" alt="" />
                                            <p class="desc">谍网</p>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>    
                        </div>
                    </div><!-- movie end -->
                </div>
            </div><!-- mui-content end -->
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
    
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script>
    mui('body').on('tap','a',function(){document.location.href=this.href;});
    mui('.play-list-wrap').scroll({
     scrollY: false, //是否竖向滚动
     scrollX: true, //是否横向滚动
     indicators: false, //是否显示滚动条
     deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
     bounce: true //是否启用回弹
    });
    mui('.main-scroll').scroll({
     scrollY: true, //是否竖向滚动
     scrollX: false, //是否横向滚动
     indicators: false, //是否显示滚动条
     deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
     bounce: true //是否启用回弹
    });
</script>

