<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Hello MUI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    
	<!--标准mui.css-->
	<!--App自定义的css-->
	<!--<link rel="stylesheet" type="text/css" href="../css/app.css" />-->
</head>
<body>
    <style>
            .mui-plus .plus{
                display: inline;
            }
            
            .plus{
                display: none;
            }
            
            #topPopover {
                position: fixed;
                top: 16px;
                right: 6px;
            }
            #topPopover .mui-popover-arrow {
                left: auto;
                right: 6px;
            }
            p {
                text-indent: 22px;
            }
            span.mui-icon {
                font-size: 14px;
                color: #007aff;
                margin-left: -15px;
                padding-right: 10px;
            }
            .mui-popover {
                height: 140px;
            }
            
        </style>
	<style>
		.mui-control-content {
			background-color: white;
			min-height: 215px;
		}
		.mui-control-content .mui-loading {
			margin-top: 50px;
		}
	</style>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">行尸走肉下载列表</h1>
		<a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="#topPopover"></a>
		
	</header>
	<style type="text/css" media="screen">
		
	</style>
	<div class="fullmask"></div>
	<div class="mui-content">
			<div class="aui-tabs-scroll mui-segmented-control mui-segmented-control-inverted">
        		<a class="mui-control-item mui-active" href="#item1mobile">HR-HDTV</a>
        		<a class="mui-control-item" href="#item2mobile">离线在线</a>
        		<a class="mui-control-item" href="#item3mobile">WEB-DL中字</a>
        		<a class="mui-control-item" href="#item4mobile">HDTV</a>
        		<a class="mui-control-item" href="#item5mobile">720P</a>
        		<a class="mui-control-item" href="#item6mobile">1080P</a>
        		<a class="mui-control-item" href="#item7mobile">BD1080P</a>
			</div>
				<div id="item1mobile" class="mui-control-content mui-active  aui-control-content">
                        <ul class="mui-table-view">
                            <li class="mui-table-view-cell mui-collapse">
                                <a class="mui-navigate-right" href="#">第四季 Season 4</a>
                                <div class="mui-collapse-content">
                                    <ul class="aui-downlist">
                                        <li>
                                            行尸走肉.The.Walking.Dead.S07E17.中英字幕.WEB-HR.AAC.1024X576.x264.mp4
                                            <span class="data">3分钟前</span>
                                            <ul class="aui-downtype mui-grid-view ">
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/emule.png" class="aui-icon"/>电驴</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><i class="fa fa-magnet t-red"></i>磁力</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><i class="fa fa-cloud  t-blue"></i>网盘</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/ct.png" class="aui-icon"/>城通</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/mi.png" class="aui-icon"/>小米路由</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><i class="fa fa-file-text  t-green"></i>字幕</li>
                                            </ul>
                                        </li>
                                        <li>行尸走肉.The.Walking.Dead.S07E16.中英字幕.WEB-HR.AAC.1024X576.x264.mp4
                                            <span class="data">1天前</span>
                                            <ul class="aui-downtype mui-grid-view ">
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/emule.png" class="aui-icon"/>电驴</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/ct.png" class="aui-icon"/>城通</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/mi.png" class="aui-icon"/>小米路由</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><i class="fa fa-file-text  t-green"></i>字幕</li>
                                            </ul>
                                        </li>
                                        <li>行尸走肉.The.Walking.Dead.S07E15.中英字幕.WEB-HR.AAC.1024X576.x264.mp4
                                            <span class="data">1周前</span>
                                            <ul class="aui-downtype mui-grid-view ">
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/emule.png" class="aui-icon"/>电驴</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/ct.png" class="aui-icon"/>城通</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/mi.png" class="aui-icon"/>小米路由</li>
                                            </ul>
                                        </li>
                                        <li>行尸走肉.The.Walking.Dead.S07E14.中英字幕.WEB-HR.AAC.1024X576.x264.mp4
                                            <span class="data">1月前</span>
                                        </li>
                                        <li>行尸走肉.The.Walking.Dead.S07E13.中英字幕.WEB-HR.AAC.1024X576.x264.mp4
                                            <span class="data">1月前</span>
                                        </li>
                                        <li>行尸走肉.The.Walking.Dead.S07E12.中英字幕.WEB-HR.AAC.1024X576.x264.mp4
                                            <span class="data">2月前</span>
                                        </li>
                                        <li>行尸走肉.The.Walking.Dead.S07E11.中英字幕.WEB-HR.AAC.1024X576.x264.mp4
                                            <span class="data">1年前</span>
                                        </li>
                                        <li>行尸走肉.The.Walking.Dead.S07E10.中英字幕.WEB-HR.AAC.1024X576.x264.mp4
                                            <span class="data">2年前</span>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </li>
                            <li class="mui-table-view-cell mui-collapse">
                                <a class="mui-navigate-right" href="#">第三季 Season 3</a>
                                <div class="mui-collapse-content">
                                    <ul class="aui-downlist">
                                        <li>行尸走肉.The.Walking.Dead.S07E01.中英字幕.WEB-HR.AAC.1024X576.x264.mp4<span class="data">1天前</span></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mui-table-view-cell mui-collapse">
                                <a class="mui-navigate-right" href="#">第二季 Season 2</a>
                                <div class="mui-collapse-content">
                                    <ul class="aui-downlist">
                                        <li>行尸走肉.The.Walking.Dead.S07E01.中英字幕.WEB-HR.AAC.1024X576.x264.mp4<span class="data">1天前</span></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mui-table-view-cell mui-collapse">
                                <a class="mui-navigate-right" href="#">第一季 Season 1</a>
                                <div class="mui-collapse-content">
                                    <ul class="aui-downlist">
                                        <li>行尸走肉.The.Walking.Dead.S07E01.中英字幕.WEB-HR.AAC.1024X576.x264.mp4<span class="data">1天前</span></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
				</div>
				<div id="item2mobile" class="mui-control-content aui-control-content">
					<ul class="mui-table-view">
                            <li class="mui-table-view-cell mui-collapse">
                                <a class="mui-navigate-right" href="#">第四季 Season 4</a>
                                <div class="mui-collapse-content">
                                    <ul class="aui-downlist">
                                        <li>
                                            行尸走肉.The.Walking.Dead.S07E01.中英字幕.WEB-HR.AAC.1024X576.x264.mp4
                                            <span class="data">1天前</span>
                                            <ul class="aui-downtype mui-grid-view ">
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/baidu.png" class="aui-icon"/>百度云</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/acfun.png" class="aui-icon"/>ACFUN</li>
                                                <li class="mui-col-xs-4 mui-col-sm-3"><img src="../lib/style/images/icons/bili.png" class="aui-icon"/>Bilibili</li>
                                            </ul>
                                        </li>
                                        <li>行尸走肉.The.Walking.Dead.S07E02.中英字幕.WEB-HR.AAC.1024X576.x264.mp4<span class="data">1天前</span></li>
                                        <li>行尸走肉.The.Walking.Dead.S07E03.中英字幕.WEB-HR.AAC.1024X576.x264.mp4<span class="data">1天前</span></li>
                                        <li>行尸走肉.The.Walking.Dead.S07E04.中英字幕.WEB-HR.AAC.1024X576.x264.mp4<span class="data">1天前</span></li>
                                        <li>行尸走肉.The.Walking.Dead.S07E05.中英字幕.WEB-HR.AAC.1024X576.x264.mp4<span class="data">1天前</span></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mui-table-view-cell mui-collapse">
                                <a class="mui-navigate-right" href="#">第三季 Season 3</a>
                                <div class="mui-collapse-content">
                                    <ul class="aui-downlist">
                                        <li>行尸走肉.The.Walking.Dead.S07E01.中英字幕.WEB-HR.AAC.1024X576.x264.mp4<span class="data">1天前</span></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

				</div>
				<div id="item3mobile" class="mui-control-content">
					<div id="scroll3" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							33333333
						</div>
					</div>

				</div>
				<div id="item4mobile" class="mui-control-content">
				    1231231
				</div>

	</div>
	
	<!--右上角弹出菜单-->
    <div id="topPopover" class="mui-popover">
        <div class="mui-popover-arrow"></div>
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        显示完整名称
                        <div id="aui-showFullName" class="mui-switch mui-switch-blue mui-switch-mini mui-active">
                            <div class="mui-switch-handle"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        显示日期
                        <div id="aui-showData" class="mui-switch mui-switch-blue mui-switch-mini ">
                            <div class="mui-switch-handle"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        直接显示下载方式
                        <div id="aui-showLinks" class="mui-switch mui-switch-blue mui-switch-mini ">
                            <div class="mui-switch-handle"></div>
                        </div>
                    </li>
                    </li>
                </ul>
            </div>
        </div>

    </div>
	<script src="../lib/init/loadFiles.js"></script>
	<script>
	   $(".aui-downlist li").click(function(){
	      if($("body").hasClass("aui-links-visable")==false){
    	      $(".fullmask").show();
    	      $(this).find(".aui-downtype").show(); 
	      } 
	   });
	   $(".fullmask").click(function(){
	       $(".aui-downlist li .aui-downtype").attr("style","");
	       $(this).hide();
	   });
	   $("#aui-showFullName").click(function(){
	       if($(this).hasClass("mui-active")){
	           $(".aui-downlist").removeClass("aui-downlist-short");
	       }else{
	           $(".aui-downlist").addClass("aui-downlist-short");
	       }
	   });
	   $("#aui-showData").click(function(){
           if($(this).hasClass("mui-active")){
               $(".aui-downlist").addClass("aui-downlist-hasData");
           }else{
               $(".aui-downlist").removeClass("aui-downlist-hasData");
           }
       });
       $("#aui-showLinks").click(function(){
           if($(this).hasClass("mui-active")){
               $("body").addClass("aui-links-visable");
               $(".aui-downlist").addClass("aui-downlist-showLinks");
           }else{
               $("body").removeClass("aui-links-visable");
               $(".aui-downlist").removeClass("aui-downlist-showLinks");
           }
       });
    </script>
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>