<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="../lib/init/loadFiles.js"></script>
<style type="text/css">
.group{padding:2rem; float: left;}
.test{float:none; clear:both; padding:.5rem;}
.test li{   width: 60px; height:60px; float: left;}
</style>

</head>
<body class="">
    <div class="group group-red">
        <ul class="test test1">
            <li class="bg-red-lrr"></li><li class="bg-red-lr"></li><li class="bg-red-l"></li><li class="bg-red"></li><li class="bg-red-d"></li><li class="bg-red-dr"></li><li class="bg-red-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

    <div class="group group-orange">
        <ul class="test test1">
            <li class="bg-orange-lrr"></li><li class="bg-orange-lr"></li><li class="bg-orange-l"></li><li class="bg-orange"></li><li class="bg-orange-d"></li><li class="bg-orange-dr"></li><li class="bg-orange-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

     <div class="group group-yellow">
        <ul class="test test1">
            <li class="bg-yellow-lrr"></li><li class="bg-yellow-lr"></li><li class="bg-yellow-l"></li><li class="bg-yellow"></li><li class="bg-yellow-d"></li><li class="bg-yellow-dr"></li><li class="bg-yellow-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>
    <div class="group group-chartreuse">
        <ul class="test test1">
            <li class="bg-chartreuse-lrr"></li><li class="bg-chartreuse-lr"></li><li class="bg-chartreuse-l"></li><li class="bg-chartreuse"></li><li class="bg-chartreuse-d"></li><li class="bg-chartreuse-dr"></li><li class="bg-chartreuse-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

   <div class="group group-green">
        <ul class="test test1">
            <li class="bg-green-lrr"></li><li class="bg-green-lr"></li><li class="bg-green-l"></li><li class="bg-green"></li><li class="bg-green-d"></li><li class="bg-green-dr"></li><li class="bg-green-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

    <div class="group group-aquamarine">
        <ul class="test test1">
            <li class="bg-aquamarine-lrr"></li><li class="bg-aquamarine-lr"></li><li class="bg-aquamarine-l"></li><li class="bg-aquamarine"></li><li class="bg-aquamarine-d"></li><li class="bg-aquamarine-dr"></li><li class="bg-aquamarine-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

    <div class="group group-cyan">
        <ul class="test test1">
            <li class="bg-cyan-lrr"></li><li class="bg-cyan-lr"></li><li class="bg-cyan-l"></li><li class="bg-cyan"></li><li class="bg-cyan-d"></li><li class="bg-cyan-dr"></li><li class="bg-cyan-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

    <div class="group group-blue">
        <ul class="test test1">
            <li class="bg-blue-lrr"></li><li class="bg-blue-lr"></li><li class="bg-blue-l"></li><li class="bg-blue"></li><li class="bg-blue-d"></li><li class="bg-blue-dr"></li><li class="bg-blue-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

    <div class="group group-indigo">
        <ul class="test test1">
            <li class="bg-indigo-lrr"></li><li class="bg-indigo-lr"></li><li class="bg-indigo-l"></li><li class="bg-indigo"></li><li class="bg-indigo-d"></li><li class="bg-indigo-dr"></li><li class="bg-indigo-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

    <div class="group group-purple">
        <ul class="test test1">
            <li class="bg-purple-lrr"></li><li class="bg-purple-lr"></li><li class="bg-purple-l"></li><li class="bg-purple"></li><li class="bg-purple-d"></li><li class="bg-purple-dr"></li><li class="bg-purple-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

    <div class="group group-pink">
        <ul class="test test1">
            <li class="bg-pink-lrr"></li><li class="bg-pink-lr"></li><li class="bg-pink-l"></li><li class="bg-pink"></li><li class="bg-pink-d"></li><li class="bg-pink-dr"></li><li class="bg-pink-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

    <div class="group group-violetred">
        <ul class="test test1">
            <li class="bg-violetred-lrr"></li><li class="bg-violetred-lr"></li><li class="bg-violetred-l"></li><li class="bg-violetred"></li><li class="bg-violetred-d"></li><li class="bg-violetred-dr"></li><li class="bg-violetred-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>

    <div class="group group-gray">
        <ul class="test test1">
            <li class="bg-gray-lrr"></li><li class="bg-gray-lr"></li><li class="bg-gray-l"></li><li class="bg-gray"></li><li class="bg-gray-d"></li><li class="bg-gray-dr"></li><li class="bg-gray-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>
    
    <div class="group group-tc">
        <ul class="test test1">
            <li class="bg-tc-lrr"></li><li class="bg-tc-lr"></li><li class="bg-tc-l"></li><li class="bg-tc"></li><li class="bg-tc-d"></li><li class="bg-tc-dr"></li><li class="bg-tc-drr"></li>
        </ul>
        <ul class="test test2">
            <li class="li1"></li><li class="li2"></li><li class="li3"></li><li class="li4"></li><li class="li5"></li><li class="li6"></li><li class="li7"></li>
        </ul>
    </div>
    
</body>
</html>
<script>
$(function(){
   $(".group-red .li1").css({background:red_lrr}); 
   $(".group-red .li2").css({background:red_lr}); 
   $(".group-red .li3").css({background:red_l}); 
   $(".group-red .li4").css({background:red}); 
   $(".group-red .li5").css({background:red_d}); 
   $(".group-red .li6").css({background:red_dr}); 
   $(".group-red .li7").css({background:red_drr}); 
      $(".group-orange .li1").css({background:orange_lrr}); 
   $(".group-orange .li2").css({background:orange_lr}); 
   $(".group-orange .li3").css({background:orange_l}); 
   $(".group-orange .li4").css({background:orange}); 
   $(".group-orange .li5").css({background:orange_d}); 
   $(".group-orange .li6").css({background:orange_dr}); 
   $(".group-orange .li7").css({background:orange_drr}); 
      $(".group-yellow .li1").css({background:yellow_lrr}); 
   $(".group-yellow .li2").css({background:yellow_lr}); 
   $(".group-yellow .li3").css({background:yellow_l}); 
   $(".group-yellow .li4").css({background:yellow}); 
   $(".group-yellow .li5").css({background:yellow_d}); 
   $(".group-yellow .li6").css({background:yellow_dr}); 
   $(".group-yellow .li7").css({background:yellow_drr}); 
   $(".group-chartreuse .li1").css({background:chartreuse_lrr}); 
   $(".group-chartreuse .li2").css({background:chartreuse_lr}); 
   $(".group-chartreuse .li3").css({background:chartreuse_l}); 
   $(".group-chartreuse .li4").css({background:chartreuse}); 
   $(".group-chartreuse .li5").css({background:chartreuse_d}); 
   $(".group-chartreuse .li6").css({background:chartreuse_dr}); 
   $(".group-chartreuse .li7").css({background:chartreuse_drr}); 
   $(".group-green .li1").css({background:green_lrr}); 
   $(".group-green .li2").css({background:green_lr}); 
   $(".group-green .li3").css({background:green_l}); 
   $(".group-green .li4").css({background:green}); 
   $(".group-green .li5").css({background:green_d}); 
   $(".group-green .li6").css({background:green_dr}); 
   $(".group-green .li7").css({background:green_drr}); 
   $(".group-aquamarine .li1").css({background:aquamarine_lrr}); 
   $(".group-aquamarine .li2").css({background:aquamarine_lr}); 
   $(".group-aquamarine .li3").css({background:aquamarine_l}); 
   $(".group-aquamarine .li4").css({background:aquamarine}); 
   $(".group-aquamarine .li5").css({background:aquamarine_d}); 
   $(".group-aquamarine .li6").css({background:aquamarine_dr}); 
   $(".group-aquamarine .li7").css({background:aquamarine_drr}); 
   $(".group-cyan .li1").css({background:cyan_lrr}); 
   $(".group-cyan .li2").css({background:cyan_lr}); 
   $(".group-cyan .li3").css({background:cyan_l}); 
   $(".group-cyan .li4").css({background:cyan}); 
   $(".group-cyan .li5").css({background:cyan_d}); 
   $(".group-cyan .li6").css({background:cyan_dr}); 
   $(".group-cyan .li7").css({background:cyan_drr}); 

   $(".group-blue .li1").css({background:blue_lrr}); 
   $(".group-blue .li2").css({background:blue_lr}); 
   $(".group-blue .li3").css({background:blue_l}); 
   $(".group-blue .li4").css({background:blue}); 
   $(".group-blue .li5").css({background:blue_d}); 
   $(".group-blue .li6").css({background:blue_dr}); 
   $(".group-blue .li7").css({background:blue_drr}); 

   $(".group-indigo .li1").css({background:indigo_lrr}); 
   $(".group-indigo .li2").css({background:indigo_lr}); 
   $(".group-indigo .li3").css({background:indigo_l}); 
   $(".group-indigo .li4").css({background:indigo}); 
   $(".group-indigo .li5").css({background:indigo_d}); 
   $(".group-indigo .li6").css({background:indigo_dr}); 
   $(".group-indigo .li7").css({background:indigo_drr}); 

   $(".group-purple .li1").css({background:purple_lrr}); 
   $(".group-purple .li2").css({background:purple_lr}); 
   $(".group-purple .li3").css({background:purple_l}); 
   $(".group-purple .li4").css({background:purple}); 
   $(".group-purple .li5").css({background:purple_d}); 
   $(".group-purple .li6").css({background:purple_dr}); 
   $(".group-purple .li7").css({background:purple_drr}); 

   $(".group-pink .li1").css({background:pink_lrr}); 
   $(".group-pink .li2").css({background:pink_lr}); 
   $(".group-pink .li3").css({background:pink_l}); 
   $(".group-pink .li4").css({background:pink}); 
   $(".group-pink .li5").css({background:pink_d}); 
   $(".group-pink .li6").css({background:pink_dr}); 
   $(".group-pink .li7").css({background:pink_drr}); 

   $(".group-violetred .li1").css({background:violetred_lrr}); 
   $(".group-violetred .li2").css({background:violetred_lr}); 
   $(".group-violetred .li3").css({background:violetred_l}); 
   $(".group-violetred .li4").css({background:violetred}); 
   $(".group-violetred .li5").css({background:violetred_d}); 
   $(".group-violetred .li6").css({background:violetred_dr}); 
   $(".group-violetred .li7").css({background:violetred_drr}); 

   $(".group-gray .li1").css({background:gray_lrr}); 
   $(".group-gray .li2").css({background:gray_lr}); 
   $(".group-gray .li3").css({background:gray_l}); 
   $(".group-gray .li4").css({background:gray}); 
   $(".group-gray .li5").css({background:gray_d}); 
   $(".group-gray .li6").css({background:gray_dr}); 
   $(".group-gray .li7").css({background:gray_drr}); 
   
    $(".group-tc .li1").css({background:tc_lrr}); 
   $(".group-tc .li2").css({background:tc_lr}); 
   $(".group-tc .li3").css({background:tc_l}); 
   $(".group-tc .li4").css({background:tc}); 
   $(".group-tc .li5").css({background:tc_d}); 
   $(".group-tc .li6").css({background:tc_dr}); 
   $(".group-tc .li7").css({background:tc_drr}); 
});
</script>
<script src="../lib/init/loadFiles-after.js"></script>