<!DOCTYPE html>
<html>
<head>
<title>demo</title>
<meta charset='utf-8' />
<style type="text/css" media="screen">
	.links{}
	.links li{list-style: none;padding:10px;}
	.links li a{color:blue; font-size:30px; font-weight:bold;}
	.links li p{color:#666;font-size:24px;  margin:0; padding:0;}
</style>
</head>
<body>
   <ul class="links">
       <li>
           <a href="home.html">首页</a>
           <p>首页包含了众多页面，首页、最新（筛选功能）、发现、收藏、我的、关于、搜索</p>
           <p>这些页面用ajax的方式进行切换</p>
       </li>
       <li>
           <a href="detail.html">影视详情</a>
           <p>展示影片的具体信息的页面</p>
       </li>
       <li>
           <a href="download.html">影视详情下载</a>
           <p>用于展示影片下载地址的页面</p>
       </li>
       <li>
           <a href="article.html">文章资讯</a>
           <p>用于展示新闻资讯、文章等内容的页面</p>
       </li>
       <li>
           <a href="login.html">登录</a>
       </li>
       <li>
           <a href="register.html">注册</a>
       </li>
       <li>
           <a href="forgetpass.html">忘记密码</a>
       </li>
   </ul>

</body>
</html>
