<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>资讯</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script src="../lib/init/loadFiles.js"></script>
</head>
<style>
.mui-popover{width: 150px; height:140px;}
</style>
</head>
<body>

<header id="header" class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">今日更新</h1>
    <a id="menu" class="mui-icon mui-icon-more mui-pull-right" href="#topPopover"></a>
</header>
<div class="mui-content mui-scroll-wrapper main-scroll">
    <div class="mui-scroll">
            
        <ul class="mui-table-view download-links">
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">[YYETS][Roswell][S03x03][CN][DVDrip].rmvb</a>
                <div class="mui-collapse-content">
                    <div class="title"><i class="fa fa-clock-o"></i> 15:22<span class="mui-pull-right">1.5GB</span></div>
                    <ul class="links mui-row">
                        <li class="mui-col-xs-6"><a href="http://baidu.com">离线缓存</a></li>
                        <li class="mui-col-xs-6"><a href="">在线观看</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">罗斯维尔.Roswell.S01E08.DVDrip.中文字幕-YYeTs人人影视.rmvb </a>
                <div class="mui-collapse-content">
                    <div class="title"><i class="fa fa-clock-o"></i> 12:31<span class="mui-pull-right">1.5GB</span></div>
                    <ul class="links mui-row">
                        <li class="mui-col-xs-6"><a href="">离线缓存</a></li>
                        <li class="mui-col-xs-6"><a href="">复制链接</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">罗斯维尔.Roswell.S01E09.DVDrip.中文字幕-YYeTs人人影视.rmvb </a>
                <div class="mui-collapse-content">
                    <div class="title"><i class="fa fa-clock-o"></i> 9:43<span class="mui-pull-right">1.5GB</span></div>
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">罗斯维尔.Roswell.S01E10.DVDrip.中文字幕-YYeTs人人影视.rmvb </a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">罗斯维尔.Roswell.S01E11.DVDrip.中文字幕-YYeTs人人影视.rmvb </a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">BBC地平线.安慰剂的效力.BBC.Horizon.2014.The.Power.of.the.Placebo.中英字幕.HDTV.AAC.720p.x264.mp4 </a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">卧底兄弟.Inside.EP20.中文字幕.720P.HDTVRip-马特鲁字幕组.mp4</a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">中文测试中文测试中文测试中文测试中文测试中文测试中文测试中文测试中文测试中文测试</a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">xxxx</a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">xxxx</a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">xxxx</a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">xxxx</a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">xxxx</a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">xxxx</a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">xxxx</a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            <li class="mui-table-view-cell mui-collapse">
                <a class="mui-navigate-right" href="#">xxxx</a>
                <div class="mui-collapse-content">
                    <ul class="links mui-row">
                        <li class="mui-col-xs-12"><a href="">离线缓存</a></li>
                    </ul>
                </div>
            </li>
            
            
            
        </ul>    
    
    </div>
</div>

<div id="topPopover" class="mui-popover">
    <div class="mui-popover-arrow"></div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <i class="fa fa-share-square-o"></i> 分享
                </li>
                <li class="mui-table-view-cell">
                    <i class="fa fa-star-o"></i> 收藏
                </li>
                <li class="mui-table-view-cell">
                    <i class="fa fa-comments-o"></i> 评论
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script>
mui('.main-scroll').scroll({
 scrollY: true, //是否竖向滚动
 scrollX: false, //是否横向滚动
 indicators: false, //是否显示滚动条
 deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
 bounce: true //是否启用回弹
});
mui('body').on('tap','a',function(){document.location.href=this.href;});  

</script>

